<html>
<head>
    <title>repochecker</title>
</head>
<body>
<h1>Welcome to repochecker!</h1>
<p>Data was last refreshed at {{ date_refreshed }}.</p>
<h2>Data for the following releases is available:</h2>
<ul>
{% for release in releases %}
    <li><a href="/data/{{release}}">Fedora {{ release }}</a></li>
{% endfor %}
</ul>
<h2>Number of entries per release:</h2>
<ul>
{% for (release, number) in stats %}
    <li>Fedora {{ release }}: {{ number }}</li>
{% endfor %}
</ul>
<h2>Configuration and statistics:</h2>
<ul>
    <li><a href="/config">Currently used configuration file</a></li>
    <li><a href="/overrides">Currently used overrides for known false positives</a></li>
    <li><a href="/stats">Use counts of false positive overrides</a></li>
</ul>
</body>
</html>